<div class="dn-inline-target" id="dn_inline_target_reco"></div>
<footer>
  <div class="wrap">
    <div class="foot-cols">
      <div><h4>About</h4><ul>
        <li><a href="{{REL}}about.html">About D&#183;TELCO</a></li>
        <li><a href="{{REL}}offers.html">Campaigns</a></li>
        <li><a href="{{REL}}archive.html">Tariff archive</a></li>
      </ul></div>
      <div><h4>Services</h4><ul>
        <li><a href="{{REL}}plans.html">Tariffs</a></li>
        <li><a href="{{REL}}internet.html">Internet packages</a></li>
        <li><a href="{{REL}}roaming.html">Roaming</a></li>
        <li><a href="{{REL}}numbers.html">Numbers and eSIM</a></li>
        <li><a href="{{REL}}athome.html">Fiber at home</a></li>
      </ul></div>
      <div><h4>Support</h4><ul>
        <li><a href="{{REL}}support.html">Help centre</a></li>
        <li><a href="{{REL}}topup.html">Top-up</a></li>
        <li><a href="{{REL}}account.html">My account</a></li>
      </ul></div>
      <div><h4>Contact</h4><ul>
        <li><a href="tel:555">555</a></li>
        <li><a href="tel:+994124988989">+994 12 498 89 89</a></li>
      </ul></div>
      <div><h4>Presenter</h4><ul>
        <li><a href="{{REL}}operator.html">Operator simulator</a></li>
        <li><a href="{{REL}}verify/index.html">Verification console</a></li>
      </ul></div>
    </div>
    <p class="demo-notice" id="demo-notice"></p>
  </div>
</footer>
